{% extends "basepage.twig" %}

{% block title %}Administration{% endblock %}

{% block content %}

<h1 class="page-header">Administration <small>Gérez la LAN depuis cette page</small></h1>

{% include 'admin/nav.twig' %}

{% include 'flashs.twig' %}

<p>
    Retrouvez facilement la gestion de la LAN à partir de l'administration.
</p>

{% endblock %}